{% extends 'base/base.html' %}

{% block title %}Cars{% endblock %}

{% block content %}
    <h1>Cars</h1>
    <div style="display: flex; justify-content: center; margin: 5px;">
        <input id="addBrand" type="text" placeholder="Марка">
        <input id="addmodel" type="text" placeholder="Модель">
        <input id="addPrice" type="text" placeholder="Цена">
        <input id="addColor" type="text" placeholder="Цвет">
        <input id="addUserId" type="text" placeholder="Юзер" value="{{ current_user.id }}" style="display: none">
            <button onclick="add_car()">Добавить</button>
    </div>
    <div id="container" class="container">
        <div>
            <input id="brand" type="text" placeholder="Марка">
            <button onclick="search_brand_car()">Поиск</button>
        </div>
        {% if cars %}
            {% for car in cars %}
            <div id="car_{{ car.id }}" class="divContainer">
                <div class="img_title">
                    <img src="https://prorisuem.ru/foto/27/avtomobil_risunok_33.webp" />
                    <div>
                        <p>{{ car.brand }} {{ car.model }}</p>
                        <p>{{ car.color }}</p>
                        <span style="background-color: {{ car.color }}; width: 20px; height: 20px; border-radius: 50%; display: inline-block;"></span>
                    </div>
                </div>
                <p>{{ car.price }} руб.</p>
                    <img onclick="deleteItem({{ car.id }})" style="width: 30px; height: 30px;" src="{{ url_for('static', path='icon/delete.png') }}" />
            </div>
            {% endfor %}
        {% else %}
            <h3>Авто не найдены</h3>
        {% endif %}
    </div>
    <script src="{{ url_for('static', path='js/script_search_brand.js') }}"></script>
{% endblock %}