.containerUser {
    display: flex;
    background-color: #20B2AA;
    width: 80%;
    margin: 5px;

}

.containerUser img{
    width: 10%;
    border-radius: 55px;
    margin: 10px;
    padding: 5px;
    }